* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $very-light;

  // Uncomment this to show helper lines for vertical rhythm
  //background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent $base-rhythm - 1px, lightgray $base-rhythm - 1px, lightgray $base-rhythm);

  line-height: $base-rhythm;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: $base-size;
  color: $text-color;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

header {
  background-color: $header-bg-color;
  color: $header-text-color;
  padding: $base-rhythm .5 * $base-rhythm;

  .about {
    display: none;
  }

  @media screen and (min-width: 800px) {
    position: fixed;
    width: $sidebar-width;

    .about {
      display: block;
    }
  }

  & > * + * {
    margin-top: $base-rhythm;
  }

  a {
    &, &:link, &:visited {
      display: block;
      padding-left: 10px;
      margin-left: -10px;
      margin-right: -.5 * $base-rhythm;
      color: $header-text-color;
      text-decoration: none;
    }

    &:hover {
      color: $header-bg-color;
      background-color: $body-bg-color;
    }
  }

  h1 {
    a {
      padding-top: .5 * $base-rhythm;
      padding-bottom: .5 * $base-rhythm;
    }
  }

  nav {
    ul {
      list-style: none;
    }

    a {
      font-weight: bold;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
}

main {
  margin: $base-rhythm auto;
  padding: $base-rhythm .5 * $base-rhythm;
  max-width: 730px;

  @media screen and (min-width: 800px) {
    margin-left: $sidebar-width + 15px;
  }
}
