$base-rhythm: 30px;
$base-size: 20px;

$dark: #444444;
$light: #d0d0d0;
$very-light: #f6f6f6;

$body-bg-color: $very-light;
$text-color: $dark;
$code-color: #777777;
$header-bg-color: $dark;
$header-text-color: $light;
